@charset "utf-8";
/* CSS Document */

.bgcolor01{
	background: #0ff;
}/* CSS Document */

.bgcolor02{
	background: #f00;
}
.bgcolor03{
	background: #0f0;
}.bgcolor04{
	background: #00f;
}.bgcolor05{
	background: #ff0;
}

.p_1{padding: 10px;}
.p_2{padding: 20px;}
.p_3{padding: 30px;}
.p_4{padding: 40px;}
.p_5{padding: 50px;}

.m_1{margin: 10px;}
.m_2{margin: 20px;}
.m_3{margin: 30px;}
.m_4{margin: 40px;}